@{
    ViewBag.Title = "Index";
}

<h2>Produce Listings</h2>

<div class="container">
    <div class="top_category">

        <div class="col-sm-12 top_category">
            <h3>Category: Produce/Jams</h3>
        </div>
        <div class="col-sm-offset-1 col-sm-12 top_category">
            <h4>Lonsdale Artisians</h4>
        </div>
        <div class="col-sm-offset-1 col-sm-2 top_category">
            Item
        </div>
        <div class="col-sm-2 top_category">
            Pick Date
        </div>
        <div class="col-sm-2 top_category">
            Product Weight
        </div>
        <div class="col-sm-2 top_category">
            Added Bulk Offers
        </div>
        <div class="col-sm-2 col-sm-offset-0 top_category">
            Delivery/Pick-up
        </div>

    </div>

    <div class="listings_category">

        <div class="col-sm-offset-1 col-sm-2">
            $750. 500 x 500ml assorted james (blackberry, blueberry, raspberry, strawberry). Open to bids.
        </div>
        <div class="col-sm-offset-1 col-sm-2">
            January 3rd
        </div>
        <div class="col-sm-2">
            1 tonne
        </div>
        <div class="col-sm-2">
            1000 x 500ml for $1000.
        </div>
        <div class="col-sm-2 col-sm-offset-0">
            December 29th, 2015
        </div>
        <div class="col-sm-2 col-sm-offset-0">

        </div>

    </div>

    <div class="active_bid">
        <div class="col-sm-10-offset col-sm-offset-1 col-sm-2">
            <input id="bid_input " type="text" />
        </div>
        <div class="accept_offer col-sm-2">
            <input type="image" src="http://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif">

        </div>
    </div>
</div>