@{
    ViewBag.Title = "Index";
}

<div class="container">
    <section class="col-xs-12 col-xxs-6 col-sm-6 col-md-3 col-lg-3">
        <h2>Bakery</h2>
        <p>
            <img src="~/Content/img/organic-farm-icons_prod.png" width="151" class="col-xs-12" />
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </p>
        <p>@Html.ActionLink("Bakery", "Index", "Product", new { @class = "btn btn-primary" })</p>
    </section>
    <div class="col-xs-12 col-xxs-6 col-sm-6 col-md-3 col-lg-3">
        <h2>Meat</h2>
        <p>
            <img src="~/Content/img/organic-farm-icons.png" width="151" class="col-xs-12" />
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </p>
        <p>@Html.ActionLink("Meat", "Meat", "Product", new { @class = "btn btn-primary" })</p>
    </div>
    <section class="col-xs-12 col-xxs-6 col-sm-6 col-md-3 col-lg-3">
        <h2>Produce</h2>
        <p>
            <img src="~/Content/img/organic-farm-icons_pum.png" width="151" class="col-xs-12" />
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </p>
        <div class="row">
            <p>@Html.ActionLink("Produce", "Produce", "Product", new { @class = "btn btn-primary" })</p>
        </div>
    </section>
    <section class="col-xs-12 col-xxs-6 col-sm-6 col-md-3 col-lg-3">
        <h2>Grocery</h2>
        <p>
            <img src="~/Content/img/organic-farm-icons_eggs.png" width="151" class="col-xs-12" />
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </p>
        <div class="row">
            <p>@Html.ActionLink("Grocery", "Index", "Product", new { @class = "btn btn-primary" })</p>
        </div>
    </section>
</div>