
@{
    ViewBag.Title = "Index";
}

<h2>Meat Products:</h2>

<div class="container">
    <div class="col-sm-2">
        <ul id="beef">
            <li><a href="#">    </a><li>
            <li><a href="#">	(small thick round cut from a beef fillet)	</a><li>
            <li><a href="#">	Beef roast	</a><li>
            <li><a href="#">	Beef tenderloin (Filet)	</a><li>
            <li><a href="#">	Beef tournedos 	</a><li>
            <li><a href="#">	Flank steak (Bavette)	</a><li>
            <li><a href="#">	New York strip steak	</a><li>
            <li><a href="#">	Pepper steak	</a><li>
            <li><a href="#">	Ribeye steak	</a><li>
            <li><a href="#">	Sirloin steak	</a><li>
            <li><a href="#">	T-Bone steak	</a><li>
        </ul>

        <ul id="pork">
            <li><a href="#">	Pork tenderloin	</a><li>
            <li><a href="#">	Pork chops	</a><li>
            <li><a href="#">	Boneless pork chops	</a><li>
            <li><a href="#">	Smoked pork chops	</a><li>
            <li><a href="#">	Pork roast	</a><li>
            <li><a href="#">	Pork cubes	</a><li>
            <li><a href="#">	Pork ribs	</a><li>
            <li><a href="#">	Ready-made pork kebab	</a><li>
            <li><a href="#">	Pork fondue	</a><li>
            <li><a href="#">	Pork tournedos	</a><li>
            <li><a href="#">	Ground pork	</a><li>
            <li><a href="#">	Lumberjack pork patties (6 oz)	</a><li>
        </ul>
    </div>
    <div class="col-sm-2">
        <br /><br /><br />
        <ul id="veal">
            <li><a href="#">	Veal cutlets	</a><li>
            <li><a href="#">	Breaded veal cutlets, italian-style	</a><li>
            <li><a href="#">	Ossobucco	</a><li>
            <li><a href="#">	Veal Chops	</a><li>
            <li><a href="#">	Ground veal	</a><li>
            <li><a href="#">	Veal liver	</a><li>
            <li><a href="#">	Veal kidney	</a><li>
            <li><a href="#">	Veal chops	</a><li>
            <li><a href="#">	Veal cubes	</a><li>
            <li><a href="#">	Veal roast	</a><li>
            <li><a href="#">	Veal bones	</a><li>
        </ul>
        <ul id="lamb">
            <li><a href="#">	Ground lamb	</a><li>
            <li><a href="#">	Lamb chops (Côtelette d’agneau)	</a><li>
            <li><a href="#">	Lamb cubes	</a><li>
            <li><a href="#">	Lamb leg roast	</a><li>
            <li><a href="#">	Lamb leg roast boneless	</a><li>
            <li><a href="#">	Lamb shank	</a><li>
            <li><a href="#">	Lamb shoulder roast	</a><li>
            <li><a href="#">	Lamb shoulder roast boneless	</a><li>
            <li><a href="#">	Rack of lamb  (Carré d’agneau)	</a><li>
        </ul>
        <ul id="chicken">
            <li><a href="#">	Whole chicken	</a><li>
            <li><a href="#">	Chicken breast (boneless)	</a><li>
            <li><a href="#">	Breaded chicken breast, italian-style	</a><li>
            <li><a href="#">	Chicken legs	</a><li>
            <li><a href="#">	Chicken thighs	</a><li>
            <li><a href="#">	Chicken drumsticks	</a><li>
            <li><a href="#">	Chicken wings	</a><li>
            <li><a href="#">	Chicken liver	</a><li>
            <li><a href="#">	Ready-made chicken kebabs	</a><li>
            <li><a href="#">	Smoked chicken legs	</a><li>
            <li><a href="#">	Chicken tournedos	</a><li>
            <li><a href="#">	Roasted chicken	</a><li>
            <li><a href="#">	Chicken fondue	</a><li>
            <li><a href="#">	Ground chicken	</a><li>
            <li><a href="#">	Ground chicken seasoned patties (6 oz)	</a><li>
        </ul>
    </div>
    <div class="col-sm-2">
        <br /><br /><br />
        <ul id="seafood">
            <li><a href="#">	Tuna, Sushi grade 1	</a><li>
            <li><a href="#">	Grouper	</a><li>
            <li><a href="#">	Mahi-mahi	</a><li>
            <li><a href="#">	Red snapper	</a><li>
            <li><a href="#">	Ready-made fish kebabs	</a><li>
            <li><a href="#">	Lobster tail	</a><li>
            <li><a href="#">	Smoked salmon	</a><li>
            <li><a href="#">	Hot smoked tuna	</a><li>
            <li><a href="#">	Cold smoked tuna	</a><li>
            <li><a href="#">	Smoked swordfish	</a><li>
            <li><a href="#">	Lion fish	</a><li>
            <li><a href="#">	Barracuda	</a><li>
            <li><a href="#">	Couvalee	</a><li>
            <li><a href="#">	Swordfish	</a><li>
            <li><a href="#">	Lambi	</a><li>
            <li><a href="#">	Shrimps	</a><li>
            <li><a href="#">	Scallops	</a><li>
            <li><a href="#">	Barracuda steak	</a><li>
        </ul>
        <ul id="coldcuts">
            <li><a href="#">	(spicy smoked ham)	</a><li>
            <li><a href="#">	Back bacon	</a><li>
            <li><a href="#">	Bacon	</a><li>
            <li><a href="#">	Black Forest ham	</a><li>
            <li><a href="#">	Bologne	</a><li>
            <li><a href="#">	Capicollo (coppa)	</a><li>
            <li><a href="#">	Cooked ham	</a><li>
            <li><a href="#">	Cooked roast pork	</a><li>
            <li><a href="#">	Dry beef	</a><li>
            <li><a href="#">	Mock chicken	</a><li>
            <li><a href="#">	Montreal-style smoked meat	</a><li>
            <li><a href="#">	Mortadella	</a><li>
            <li><a href="#">	Pancheta	</a><li>
            <li><a href="#">	Pastrami	</a><li>
            <li><a href="#">	Pepperoni	</a><li>
            <li><a href="#">	Roast beef	</a><li>
            <li><a href="#">	Roast chicken	</a><li>
            <li><a href="#">	Salami	</a><li>
            <li><a href="#">	Smoked ham	</a><li>
            <li><a href="#">	Smoked salami	</a><li>
        </ul>
    </div>
    <div class="col-sm-2">
        <br /><br /><br />
        <ul id="sausage">
            <li><a href="#">	Beef hot-dog	</a><li>
            <li><a href="#">	Capriciosa	</a><li>
            <li><a href="#">	Chicken	</a><li>
            <li><a href="#">	Chicken farmer [breakfast]	</a><li>
            <li><a href="#">	Chicken hot-dog	</a><li>
            <li><a href="#">	Chipolata	</a><li>
            <li><a href="#">	Chorizo	</a><li>
            <li><a href="#">	Dry chorizo	</a><li>
            <li><a href="#">	Dry salami	</a><li>
            <li><a href="#">	Farmer’s [for breakfast]	</a><li>
            <li><a href="#">	Fine herbs	</a><li>
            <li><a href="#">	Ham & Cheese	</a><li>
            <li><a href="#">	Italian mild	</a><li>
            <li><a href="#">	Italian spicy	</a><li>
            <li><a href="#">	Kielbasa	</a><li>
            <li><a href="#">	Knackwurst	</a><li>
            <li><a href="#">	Merguez	</a><li>
            <li><a href="#">	October Fest	</a><li>
            <li><a href="#">	Peperette	</a><li>
            <li><a href="#">	Toulouse	</a><li>
            <li><a href="#">	Veal & Cheese	</a><li>
            <li><a href="#">	Weisswurst (White sausage)	</a><li>
            <li><a href="#">	Whisper Cove	</a><li>
        </ul>
    </div>

    <div class="col-sm-2">
        <br /><br /><br />
        <ul id="pates">
            <li><a href="#">	Pâtés (pork spread)	</a><li>
            <li><a href="#">	(Rillettes, Fine herbs liver pâté, Green pepper liver pâté, Garlic liver pâté, Cognac liver pâté, Campagne, Campagne 3 peppers pâté)	</a><li>
            <li><a href="#">	Cretons	</a><li>
            <li><a href="#">	(Quebec pork spread with a special blend of spices)	</a><li>
            <li><a href="#">	Meat pie (8″ – 20.3 cm)	</a><li>
            <li><a href="#">	Ham quiche (8″ – 20.3 cm)	</a><li>
            <li><a href="#">	Ham quiche (slice)	</a><li>
            <li><a href="#">	Vegetarian quiche (8″ – 20.3 cm)	</a><li>
            <li><a href="#">	Vegetarian quiche (slice)	</a><li>
        </ul>
        <ul id="cheese">
            <li><a href="#">	Blue Cheese	</a><li>
            <li><a href="#">	Champignon	</a><li>
            <li><a href="#">	Cheddar	</a><li>
            <li><a href="#">	Combozola	</a><li>
            <li><a href="#">	Edam	</a><li>
            <li><a href="#">	Epoisse	</a><li>
            <li><a href="#">	Feta (natural)	</a><li>
            <li><a href="#">	Feta mix with peppercorn, herbs, oil	</a><li>
            <li><a href="#">	Mirabo	</a><li>
            <li><a href="#">	Monster	</a><li>
            <li><a href="#">	Mozarella	</a><li>
            <li><a href="#">	Parmesan	</a><li>
            <li><a href="#">	Pepperjack	</a><li>
            <li><a href="#">	Provolone	</a><li>
            <li><a href="#">	Rougette	</a><li>
            <li><a href="#">	Smoked Cheddar	</a><li>
            <li><a href="#">	Smoked Provolone	</a><li>
            <li><a href="#">	Swiss	</a><li>
        </ul>
    </div>

    <div class="col-sm-2">
        <!--Spacer area.sadsa-->
    </div>

</div>