
@{
    ViewBag.Title = "Meat";
}

<h2>Meat</h2>

<main class="container">
    <section class="row">
        <div class="col-sm-4">
            <p>Tender Loins</p>
        </div>
        <div class="col-sm-4">
            <p>Tender Loins</p>
        </div>
        <div class="col-sm-4">
            <p>Tender Loins</p>
        </div>
    </section>

    <section class="row">
        <div class="col-sm-4">
            <p>Tender Loins</p>
        </div>
        <div class="col-sm-4">
            <p>Tender Loins</p>
        </div>
        <div class="col-sm-4">
            <p>Tender Loins</p>
        </div>
    </section>

    <section class="row">
        <div class="col-sm-4">
            <p>Tender Loins</p>
        </div>
        <div class="col-sm-4">
            <p>Tender Loins</p>
        </div>
        <div class="col-sm-4">
            <p>Tender Loins</p>
        </div>
    </section>
</main>