
@{
    ViewBag.Title = "Index";
}

<h2>Produce Listings</h2>

<div class="container">
    <div class="top_category">

        <div class="col-sm-12 top_category">
            <h3>Category: Produce/Organic/Tomatoes</h3>
        </div>
        <div class="col-sm-offset-1 col-sm-12 top_category">
            <h4>Acadia Farms</h4>
        </div>
        <div class="col-sm-offset-1 col-sm-2 top_category">
            Item
        </div>
        <div class="col-sm-2 top_category">
            Pick Date
        </div>
        <div class="col-sm-2 top_category">
            Product Weight
        </div>
        <div class="col-sm-2 top_category">
            Added Bulk Offers
        </div>
        <div class="col-sm-2 col-sm-offset-0 top_category">
            Delivery/Pick-up
        </div>

    </div>

    <div class="listings_category">

        <div class="col-sm-offset-1 col-sm-2">
            Truckload of tomatoes, off-the-vine, AAA , $1000 obo. Open to bids.
        </div>
        <div class="col-sm-offset-1 col-sm-2">
            January 3rd
        </div>
        <div class="col-sm-2">
            1 tonne
        </div>
        <div class="col-sm-2">
            2 tonne for $1500.
        </div>
        <div class="col-sm-2 col-sm-offset-0">
            March 17th, 2015
        </div>

    </div>

    <div class="active_bid">
        <div class="col-sm-10-offset col-sm-offset-1 col-sm-2">
            <input id="bid_input " type="text" />
        </div>
        <div class="accept_offer col-sm-2">

        </div>
    </div>
</div>