
@{
    ViewBag.Title = "Index";
}

<h2>Please enter your credentials to proceed:</h2>

<form action="areas.html" method="post">
    Username: <input type="text" />
    Password: <input type="password" />
    <input type="submit" value="Login" />
</form>