body {
}
img{
    max-width:100%;
    height:auto;
}
div.cover-slides {
    margin-bottom: 0;
    background-image: url('img/L8XDQ7077F.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    background-position-y: -160px;
}
@media only screen and (max-width:1180px){
    div.cover-slides{
        background-position-y: 0px;
    }
}
div.headings{
    max-width: 700px;
    margin: 9em auto;
    text-align: center;
    color: #fff;
}
div.dropdown-cities{
    float:right;
    margin-top:15px;
}
@media only screen and (max-width:767px){
    div.dropdown-cities{float:left;}
}
div.navbar-collapse.collapse{float:left;}
div.navbar-header{float:right;}
a.btn.btn-primary{background:transparent; color:forestgreen; border:1px solid forestgreen;}
a.btn.btn-primary:hover{background-color:forestgreen; color:#fff; border:1px solid forestgreen;}

div.navbar-inverse{border-radius:0;}
.logo{float:left;}
img{max-width:100%; height:auto;}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

div.container p,
div.container h2,
div.container h1{text-align:center;}

div section nav{
    position: static;
    margin-top: 30px;
    width: 228px;
}
div .nav-container nav p{
    border: 0 #eee solid;
    text-align:left;
    background: #eee;
}
div section nav p a{
    position: relative;
    display: block;
    padding: 10px 15px;
    color:#333;
}
@media only screen and (max-width:767px){
    div section nav{
        position: static;
        margin-top: 30px;
        width: auto;
        margin-bottom: 30px;
    }
    div section nav p,div section nav p a{
        display:inline;
    }
    section#generic-tabs ul li a{
        font-size: 1em;
        padding: 1em 0;
    }
}