body {
}

div.organic_jumbotron {
    margin-bottom: 0;
    background-image: url('img/farmer-540658_1920.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    color:#fff;
}
div.navbar-inverse{border-radius:0;}
.logo{float:left;}
img{max-width:100%; height:auto;}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

div.container p,
div.container h2,
div.container h1{text-align:center;}

